<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RegularUserFilter</filter-name>
        <filter-class>it.unitn.disi.cinema.filters.RegularUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegularUserFilter</filter-name>
        <url-pattern>/acquistabiglietti/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegularUserFilter</filter-name>
        <url-pattern>/prenotaspettacolo/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegularUserFilter</filter-name>
        <url-pattern>/lemieprenotazioni/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmPageServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.FilmPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScriptServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.ScriptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.InfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.RestoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.ReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyPageServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.BuyPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationPageServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.ConfirmationPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModSalaServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.ModSalaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRemovePosti</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.AddRemovePosti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyReservationsServlet</servlet-name>
        <servlet-class>it.unitn.disi.cinema.servlets.MyReservationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmPageServlet</servlet-name>
        <url-pattern>/film/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScriptServlet</servlet-name>
        <url-pattern>/startup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreServlet</servlet-name>
        <url-pattern>/restore.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/prenotaspettacolo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyPageServlet</servlet-name>
        <url-pattern>/acquistabiglietti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationPageServlet</servlet-name>
        <url-pattern>/acquistabiglietti/conferma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModSalaServlet</servlet-name>
        <url-pattern>/admin/modificasala/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRemovePosti</servlet-name>
        <url-pattern>/admin/modificasala/add/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRemovePosti</servlet-name>
        <url-pattern>/admin/modificasala/remove/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyReservationsServlet</servlet-name>
        <url-pattern>/lemieprenotazioni/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
